*.o
test/wb-homa-test
*.deb
*/debian/files
*.build
*.changes
*.dsc
*/core.*
*.tar.gz
*.debhelper.log
*.debhelper
*.buildinfo
*/debian/*.substvars
build
compile_commands.json

# Binary
wb-mqtt-db
wb-mqtt-db-test

# Core files
*.core

# Visual Studio Code
.vscode
debian/files
debian/wb-mqtt-db.substvars
.clang-format
.devcontainer

### direnv ###
.direnv
.envrc
