*.o
test/wb-homa-test
*.deb
*/debian/files
*.build
*.changes
*.dsc
*/core.*
*.tar.gz
*.debhelper.log
*.debhelper
*/debian/*.substvars
build

# Binary
wb-mqtt-db
wb-mqtt-db-test

# Core files
*.core

# Visual Studio Code
.vscode
debian/files
debian/wb-mqtt-db.substvars

### direnv ###
.direnv
.envrc
