Source: wb-mqtt-db
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10), 
               pkg-config, 
               libsqlite3-dev, 
               libwbmqtt1-4-dev,
               libwbmqtt1-4-test-utils
Homepage: https://github.com/wirenboard/wb-mqtt-db

Package: wb-mqtt-db
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwbmqtt1-4, libsqlite3-0
Breaks: wb-mqtt-confed (<< 1.0.2)
Description: Wiren Board database logger
 wb-mqtt-db is a service which stores values from MQTT controls in data base.
 It offers MQTT RPC for retrieving stored data.
