Source: wb-mqtt-db
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10), 
               pkg-config, 
               libsqlite3-dev, 
               libwbmqtt1-dev (>= 2.2.4),
               libwbmqtt1-test-utils (>= 2.2.4)

Package: wb-mqtt-db
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwbmqtt1-2 (>= 2.2.4), libsqlite3-0
Breaks: wb-mqtt-confed (<< 1.0.2)
Description: Wiren Board database logger
